

.toolbar{
  background-color: gray;
  
}

.header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  width:100%;
  padding: 0px;
  height:100px;
  background-color: lightseagreen;
  /*padding-top: 30px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
    margin-left: 10px;
    
    
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
.list{
  float: left;
}
