body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
  font-family: sans-serif;
}
/*.list{
  width:100px;
  /*float: left;*/
  /*margin-left:"500px";*/
  /*border: 5px solid red;*/
  /*color: white;*/
  
/*}*/
